header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header-container{
    text-align: center;
    height: 100%;
    position: relative;
    width: 50%;                /* Set a fixed width */
    margin: auto;           /* Center horizontally */
}

.cta{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.header-socials{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 3rem;
    gap: 0.8rem;
}
.header-socials::after{
    content: "";
    width: 1.5px;
    height: 2rem;
    background: var(--color-primary);
    margin-left: 7px;

}
.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 3rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}
.Scroll-down{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
}
/* common styling for animation */
.typewriter {
    display: block;
  margin: 0.5rem auto;
  overflow: hidden;
  text-align: center;
  border-right: none; /* Blue typing cursor */
  white-space: nowrap;
  letter-spacing: 2px;
  width: 0px; /* Start from 0 width */
  animation: typing 3s steps(20, end) forwards; /* Removed blink */
  font-size: 18px;  /* Size your text */
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 280px; } /* Adjust based on text length */
  }
  
  @keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: #00f; }
  }
  
  .name {
    display: block;
    margin: 0 auto;
    font-size: 18px;  /* Size your text */
    color: #fff; /* White or whatever color you prefer */
    text-align: center;
    opacity: 0; /* Start hidden */
    animation: fadeIn 4s forwards;
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* media queries */

@media screen and (max-width: 1024px) {
    header{
        height: 60vh;
    }
    
}

@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
    .header-socials, .Scroll-down{
        display: none;
    }
}
  
  
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
--fs: clamp(1.5rem, 5vw, 3rem);
  /* --ls: clamp(-1.75px, -0.25vw, -3.5px); */
}



*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  /* background: var(--bg); */
  margin: 0;
}



.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 30vw;
  height: 30vw;
  /* background-color: var(--clr-1); */
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}
