.experience-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-rows: 0.1fr 0.1fr;

}
.experience-container> div{
    background:var(--color-bg-variant);
    padding: 2.4rem 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}
.experience-container> div:hover{
    background:transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.experience-container> div h3{
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 2rem
}
.experience-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap:2rem ;
}
.experience-details{
    display: flex;
    gap: 1rem;
}
.experience-details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}
@media screen and (max-width: 1024px) {
   .experience-container{
    grid-template-columns: 1fr;
   }
   .experience-container> div{
    width: 80%;
    padding: 1rem;
    margin: 0 2rem;
   }
   .experience-content{
    padding: 1rem;
   }
}

@media screen and (max-width:600px) {
    /* .main-container{
        margin-top: 3rem;
    } */
    .experience-container{
        gap: 1rem;
        
       
    }
    
    .experience-content{
        gap: 1rem;
    }
    
}
  